.zero{
	margin-left: 50px;
	margin-top: 50px;
}
.design{
	background-color: lightgrey;
    width: 600px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;
    box-shadow: 5px 10px;
}
.normal{
	


}